{% extends 'layout.htm' %}

{% block scripts %}
<script src="/static/js/home.js"></script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span12 block centertext">
    <h2>Paste the URL of any Amazon product here:</h2>
    <div class="form-inline">
      <input id="url-input" type="text" class="input-large" placeholder="Enter the url here!">
      <button id="url-submit" type="submit" class="btn btn-large">View price history</button>
    </div>
  </div>
</div>
<div class="row">
  <div id="error-block" class="span12 centertext error-text error-box"></div>
</div>
{% endblock %}

